<app-header></app-header>
<h2 style="font-weight: bolder;">
  Book Details
</h2>
<form>
<table>
  <thead>
    <th>Id</th>
    <th>Book Name</th>
    <th>Author Name</th>
    <th>Level</th>
    <th>Cost</th>
    <th>Manage Details</th>

  </thead>
  <tbody>
    <tr *ngFor="let item of getBookDetails">
      <td>{{item.id}}</td>
      <td>{{item.bookName}}</td>
      <td>{{item.authorName}}</td>
      <td>{{item.level}}</td>
      <td>{{item.bookCost}}</td>
      <td><button class="button" (click)="delete(item.id); $event.preventDefault()">Delete</button> <button class="button" (click)="edit(item,$event)">Edit</button></td>
      <!-- <td> </td> -->
    </tr>
  </tbody>
 </table>
</form>
<dialog class="editStyle" [formGroup]="editForm" [open]="editFormHidden">
  <h2 style="text-align: center;">Edit Book</h2>
  <div class="field">
    <label for="updateBookName">Book Name</label><br>
    <input type="text" formControlName="updateBookName" placeholder="Enter Book Name">
  </div>
  <div class="field">
    <label for="updateAuthorName">Author Name</label><br>
    <input type="text" formControlName="updateAuthorName" placeholder="Enter Author Name">
  </div>
  <div class="field">
    <label for="updateLevel">Level</label><br>
    <input type="text" formControlName="updateLevel" placeholder="Enter the Level">
  </div>
  <div class="field">
    <label for="updateBookCost">Book Cost</label><br>
    <input type="text" formControlName="updateBookCost">
  </div>
    <div class="field">
      <button type="submit" class="Update" (click)="update()">Update</button>
      <button type="submit" class="Back" (click)="back()">Back</button>
    </div>
</dialog>
