label{
  font-size: 18px;
  font-weight: bolder;
}
select{
  width: 28%;
  height: 35px;
  font-size: 20px;
}
select option{
  width: 28%;
  height: 35px;
  font-size: 20px;
}
input[type=text],input[type=number]{
  width: 28%;
  height: 35px;
  font-size: 20px;
}
input[type=date]{
  width: 28%;
  height: 35px;
  font-size: 20px;
}
.field{
  margin-top: 15px;
}
button[type=submit]{
padding: 10px;
font-size: 18px;
font-weight: bolder;
color: white;
border-radius: 5px;
background-color: #2d2d32;
}

